extends layout.pug 


block content 
  div.container 
    h1 All notes 
    each note in notes 
      .note-wrapper 
        a.note(href=`/notes/${note.id}`) #{note.title}
        .box   
          a.delete(href="notes/detail") Delete 
